{% from "_helpers.html" import alert, render_search_bar %}

<!doctype html>
<html>
<head>
  <title>{% block title %}Oreon Build System{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('system_static', component='jquery-ui', filename='jquery-ui.min.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/vnd.microsoft.icon">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link href="{{ url_for('system_static', component='patternfly', filename='css/patternfly.min.css') }}" rel="stylesheet" media="screen, print">
  <link rel="stylesheet" href="{{ url_for('system_static', component='patternfly', filename='css/patternfly-additions.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/theme.css') }}">
  <script src="{{ url_for('system_static', component='jquery', filename='3/jquery.min.js') }}"></script>
  <script src="{{ url_for('system_static', component='jquery-ui', filename='jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('system_static', component='bootstrap_scss', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('system_static', component='datatables', filename='js/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('system_static', component='patternfly', filename='js/patternfly.min.js') }}"></script>
  <script src="{{ url_for('static', filename='oreon.js') }}"></script>
</head>

<body>
  <!-- BANNER -->
  {% if copr_banner %}
      {{ copr_banner | safe }}
  {% endif  %}

  <!-- MAIN MENU -->
  <nav class="" id="main-bar">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-7 col-xs-6">
          <a href="{{ url_for('coprs_ns.coprs_show') }}">
            <img id="logo" src="{{ url_for('static', filename='copr-logo-transparent.png') }}" alt="Oreon Build System" style="height: 30px; vertical-align: middle; margin-right: 10px;">
            <span style="vertical-align: middle; font-size: 18px; font-weight: bold;">Oreon Build System</span>
          </a>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-6">
          <div id="login-menu" class="text-right">
            {% for item in login_menu %}
            <a href="{{ item.link }}">{{ item.desc }}</a>
            {% if not loop.last %}|{% endif %}
            {% endfor %}
          </div>
          {{ render_search_bar() }}
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <ul class="nav nav-tabs">
        <li class="{{ 'active' if request.endpoint and request.endpoint.startswith('coprs_ns') else '' }}">
            <a href="{{ url_for('coprs_ns.coprs_show') }}">Projects</a>
        </li>
        <li class="{{ 'active' if request.endpoint and request.endpoint.startswith('iso_ns') else '' }}">
            <a href="{{ url_for('iso_ns.iso_index') }}"><i class="pficon pficon-image"></i> ISO Builder</a>
        </li>
        <li class="{{ 'active' if request.endpoint and request.endpoint.startswith('status_ns') else '' }}">
            <a href="{{ url_for('status_ns.importing') }}">Build Queue</a>
        </li>
    </ul>
  </div>

  <div class="breadcrumb-panel">
    <div class="container">
        {% block breadcrumbs %}
        {% endblock %}
    </div>
  </div>

  <!-- CONTENT -->
  <div id=content>
    <div class="container">

      <!-- Flash messages -->
      {% if flashes %}
        {% for type, message in flashes %}
          {{ alert(message, type) }}
        {% endfor %}
      {% else %}
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for type, message in messages %}
            {{ alert(message, type) }}
          {% endfor %}
        {% endwith %}
      {% endif %}



      <!-- the actual content -->
      {% block body %}{% endblock %}

    </div>
    <footer class="footer">
      <div>
        <div class="container text-muted">
          <div class="">
            <div class="row">
              <div class="col-sm-12 text-center">
                <dl>
                  <dd>
                    <ul class="list-inline">
                      <li> <a href="{{ url_for('coprs_ns.coprs_show') }}">Home</a> </li>
                      <li> <a href="{{url_for('status_ns.importing')}}">Task Queue</a> </li>
                      <li> <a href="{{ url_for('api_ns.api_home') }}">API</a> </li>
                      <li> <a href="/db_dumps/">Database Dump</a> </li>
                    </ul>
                  </dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  {% block footer %}{% endblock %}
</body>
</html>
